<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC | Conta</title>
    <link rel="icon" href="../static/images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="cabecalho_login">
        <img class="logo__img__cabecalho" src="../static/images/Logo.png" alt="logo">
        <a href="ajuda">Ajuda</a>
    </header>
    <main class="centraliza_conteudo">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <section >
            <form class="conteudo_login" method="POST" action="{{ url_for('autenticar') }}">
                <div class="conteudo_central_login__text">
                    <img class="logo__img" src="../static/images/Cloud.png" alt="logo">
                    <h1>Create Cloud Computing - Login</h1>
                </div>
                <div class="conteudo_login__input">
                    <p class="conteudo_login__input__especificado">
                    <input type="hidden" name="proxima" value="{{ proxima or url_for('home') }}">
                    <label class="conteudo_login__input__label">Seu e-mail:</label>
                    <input class="form-control" type="text" name="email" required>
                    </p>
                    <p class="conteudo_login__input__especificado">
                    <label class="conteudo_login__input__label">Sua Senha:</label> 
                    <input class="form-control" type="password" name="senha" required>
                    <a class="forgot_password" href="">Esqueceu a sua senha?</a>
                    </p> 
                </div>
                <button class="conteudo_login__button" type="submit">Acessar Conta</button>
            </form>
        </section>
    </main>

</body>

</html>