<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma de Pagamento</title>
    <link rel="icon" href="../static/images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<header class="cabecalho_login">
    <img class="logo__img__cabecalho" src="../static/images/Logo.png" alt="logo">
    <a href="ajuda">Ajuda</a>
</header>

<body>
    <section>
        <div>
            <img src="../static/images/Cloud.png" alt="Cloud">
            <h1>Bem-vindo a Create Cloud Cloud Computing!</h1>
            <p>Nos informe seus dados pessoais!</p>
        </div>
    </section>

    <section>
        <div>
            <h4>Nome no Cartão</h4>
            <input type="text" placeholder="Nome no Cartão">
        </div>
        <div>
            <h4>Número do Cartão</h4>
            <input type="number" placeholder="XXXX.XXXX.XXXX.XXXX">
        </div>
        <div>
            <h4>CVV</h4>
            <input type="number" placeholder="XXX">
            <h4>Validade do Cartão</h4>
            <input type="date">
        </div>
        <picture>
            <img src="../static/images/MasterCard.png" alt="mastercard">
            <img src="../static/images/Elo.png" alt="elo">
            <img src="../static/images/Visa.png" alt="visa">
        </picture>
        <div>
            <a href="login">Finalizar Cadastro</a>
        </div>
        </div>
    </section>
</body>

<footer>
    <div>
        <h4 class="rodape__disclaimer">Copyright &copy;CCC, Todos os direitos reservados</h4>
    </div>
</footer>

</html>