<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CCC | Home</title>
	<link rel="icon" href="../static/images/Logo.png" />
	<link href="../static/reset.css" rel="stylesheet" />
	<link href="../static/style.css" rel="stylesheet" />
	<link href="../static/home.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

	<!-- fontes utilizadas -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
		rel="stylesheet" />
</head>

<body>
	<header>
		<section class="header__secao">
			<picture><img src="../static/images/Logo.png" alt="logo.CCC" /></picture>
			<ul class="secao__lista">
				<li><a href="/">Home</a></li>
				<li><a href="sobre">Sobre</a></li>
				<li><a href="servico">Serviços</a></li>
				<li><a href="central_login">Login</a></li>
			</ul>
		</section>
	</header>

	<main>
		<section class="secao2">
			<div class="secao2__texto">
				<h1>Seu Futuro, investido e segurado por nós</h1>
				<p>
					Acreditamos no potencial do nosso produto, e queremos que nossos
					usuários aproveitem o máximo da nossa nuvem.
				</p>
			</div>
			<picture>
				<img src="../static/images/image_secao1.png" alt="funcionários em reunião" />
			</picture>
		</section>

		<section class="tituloswiper">
			<h1 class="tituloswiper__conteudo"> Nossos Produtos</h1>
		</section>
		<div class="swiper mySwiper">
			<div class="swiper-pagination"></div>
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="card">
						<div class="card__descricao">
							<picture><img src="../static/images/Cloud.svg" alt="" /></picture>
							<h4>Nossa Cloud</h4>
							<p>
								Nossos serviços utilizando apenas cloud, mostram dinâmica e
								eficiência em sua utilização
							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="card">
						<div class="card__descricao">
							<picture><img src="../static/images/clouddownload.svg" alt="" /></picture>
							<h4>Cloud Download</h4>
							<p>
								Através deste serviço, pode-se realizar download de diferentes
								arquivos em nuvem
							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="card">
						<div class="card__descricao">
							<picture><img src="../static/images/cloudserver.svg" alt="" /></picture>
							<h4>Cloud Server</h4>
							<p>
								Através deste serviço, pode -se realizar a criação de um servidor
								cloud para seus produtos
							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="card">
						<div class="card__descricao">
							<picture><img src="../static/images/CloudHorse.svg" alt="" /></picture>
							<h4>CloudHorse</h4>
							<p>
								Nosso produto mais inovador. CloudHorse é um serviço em nuvem, que
								pode usar Git, deploy e server ao mesmo tempo, de forma única e
								concisa
							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="card">
						<div class="card__descricao">
							<picture><img src="../static/images/CloudShell.svg" alt="" /></picture>
							<h4>VM Cloud</h4>
							<p>
								Nossa máquina virtual em nuvem, pode te auxiliar em Bancos de Dados
								criados, além da melhor organização no seu principal servidor
							</p>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="card">
						<div class="card__descricao">
							<picture><img src="../static/images/cloudDevOps.svg" alt="" /></picture>
							<h4>Cloud DevOps</h4>
							<p>
								Utilizando a infraestrutura em Nuvem, pode-se criar diferentes
								serviços, em uma única instância
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="informacoes">
			<section class="informacoes__perfis">
				<div class="perfil">
					<picture><img src="../static/images/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="" /></picture>
					<div class="perfil__texto">
						<h2>Priscila Vasconcelos</h2>
						<h4>
							"Uma empresa maravilhosa, na qual oferece todas as soluções que
							preciso!"
						</h4>
					</div>
				</div>
				<div class="perfil">
					<picture><img src="../static/images/batel-studio-ttSRjiYG_WM-unsplash.jpg" alt="" /></picture>
					<div class="perfil__texto">
						<h2>Carla Cristina</h2>
						<h4>"Pagamento seguro. tranquilo e rápido!"</h4>
					</div>
				</div>
				<div class="perfil">
					<picture><img src="../static/images/matheus-ferrero-W7b3eDUb_2I-unsplash.jpg" alt="" /></picture>
					<div class="perfil__texto">
						<h2>Josefina Santos</h2>
						<h4>"A empresa que acredito!"</h4>
					</div>
				</div>
				<div class="perfil">
					<picture><img src="../static/images/rafaella-mendes-diniz-et_78QkMMQs-unsplash.jpg" alt="" />
					</picture>
					<div class="perfil__texto">
						<h2>Matilda Pinheiros</h2>
						<h4>
							"100% confiável, tranquila e que me deixa segura todos os dias"
						</h4>
					</div>
				</div>
			</section>

			<section class="informacoes__sobre">
				<div class="informacoes__sobre--texto">
					<h1>Novidades da Semana</h1>
					<ul>
						<li>Aumento de vendas em Startups aumentam em 50%</li>
						<li>Vendas disparam com o uso de Cloud</li>
						<li>"Maior Revolução existente", afirma especialista na área de DevOps</li>
						<li>O futuro da programação. Empresas utilizam esta oportunidade para alavancar as vendas</li>
					</ul>
				</div>
			</section>
		</section>

		</section>

		<div class="Empresas">
			<h1> Empresas Parceiras</h1>
		</div>
		<section class="EmpresasParceiras">
			<picture class="EmpresasParceiras__Conteudo">
				<img src="../static/images/logo-safra-branco 1.svg" alt="logo Safra" />
				<img src="../static/images/AWS-Cloud-alt_dark-bg.svg" alt="AWS" />
				<img src="../static/images/logo-banco-do-brasil-icon-512 1.svg" alt="Banco do Brasil" />
				<img src="../static/images/banco-next-512 1.svg" alt="Next" />
				<img src="../static/images/rede-globo 1.svg" alt="Globo" />
				<img src="../static/images/logo-gol-256 1.svg" alt="Gol" />
			</picture>
		</section>

		<section class="Newsletter">
			<div class="Newsletter__conteudo">
				<h4>Inscreva-se na nossa Newsletter</h4>
				<p>Mantenha-se atualizado sobre nossos produtos, futuros eventos e muito mais, através de seu contato
					com a
					tecnologia</p>
			</div>
			<div class="Newsletter__inscricao">
				<input type="email" placeholder="Escreva seu melhor e-mail" class="Newsletter__caixatexto" />
				<a href="#" class="Newsletter__botao">Enviar</a>
			</div>
		</section>

		<section class="FAQlogo">
			<section class="FAQ">
				<h1 class="FAQ__titulo">FAQ - Perguntas Frequentes</h1>
				<h4 class="FAQ__subtitulo">
					Preciso de Cartão para uso da plataforma?
				</h4>
				<p class="FAQ__subtitulo--texto">
					Sim, é necessário, pois temos um sistema de serviços que geram custo
				</p>
				<h4 class="FAQ__subtitulo">A compra é segura?</h4>
				<p class="FAQ__subtitulo--texto">
					Sim, utilizamos uma transação segura em nossos serviços, verificada,
					além de bandeiras como MasterCard, Visa e Elo
				</p>
				<h4 class="FAQ__subtitulo">Todos os serviços são pagos?</h4>
				<p class="FAQ__subtitulo--texto">
					Não, já que nosso serviço possui a categoria Free onde tem acesso a
					diferentes serviços por apenas 1 ano. Após este período, haverá
					cobrança
				</p>
				<h4 class="FAQ__subtitulo">Posso cancelar minha conta?</h4>
				<p class="FAQ__subtitulo--texto">
					Claro! Pode excluí-la a vontade. Caso haja registro de uso de nossos
					produtos, será realizado um questionário, mas sempre será bem-vindo!
				</p>
				<h4 class="FAQ__subtitulo">Não Encontrou sua dúvida?</h4>
				<a href="#" class="FAQ__link">Acesse esse link!</a>
			</section>
			<picture class="LogoFAQ">
				<img src="../static/images/CloudLogo.svg" alt="" />
			</picture>
		</section>
	</main>

	<footer>
		<section class="rodape__completo">
			<div class="rodape">
				<div class="rodape__empresas">
					<h2 class="rodape__empresas--titulo">Nossas Empresas</h2>
					<ul class="rodape__empresas--conteudo">
						<li class="re__conteudo--item"><a href="#"> CloudCompanion</a></li>
						<li class="re__conteudo--item"><a href="#"> Cloud Network</a></li>
						<li class="re__conteudo--item">
							<a href="#"> Venha fazer parte do nosso time</a>
						</li>
					</ul>
				</div>
				<div class="rodape__contato">
					<h2 class="rodape__empresas--titulo">Contate-nos</h2>
					<ul class="rodape__empresas--conteudo">
						<li class="re__conteudo--item">
							<a href="#"> CloudCompanion@Cloud.com.br</a>
						</li>
					</ul>
				</div>
			</div>
			<h4 class="rodape__disclaimer">
				Copyright &copy;CCC, Todos os direitos reservados
			</h4>
		</section>

	</footer>

	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script src="../static/main.js"></script>
</body>

</html>