<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC | VmCloud</title>
    <link rel="icon" href="../static/images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<header>
    <img src="../static/images/Logo.png" alt="Logo">
    <a href="home">Home</a>
    <a href="ajuda">Ajuda</a>
    <a href="my_account">Minha Conta</a>
    <img src="../static/images/usuário.svg" alt="Usuario">
</header>

<body>
    <section>
        <img src="../static/images/CloudShell.svg" alt="CloudShell">
        <div>
            <h2>
                VM Cloud
            </h2>
        </div>
    </section>
    <section>
        <div>
            <h3>Tipo de Instância</h3>
            <ul>
                <li>
                    <button>Máquina com 1GB de RAM</button>
                </li>
                <li>
                    <button>Máquina com 4GB de RAM</button>
                </li>
                <li>
                    <button>Máquina com 8GB de RAM</button>
                </li>
            </ul>
        </div>
        <div>
            <h3>Escolha sua Distribuição</h3>
            <ul>
                <li>
                    <button>CloudSO</button>
                </li>
                <li>
                    <button>Ubuntu</button>
                </li>
                <li>
                    <button>Windows</button>
                </li>
            </ul>
        </div>
        <div>
            <h3>Selecione a sua Rede Virtual</h3>
            <ul>
                <li>
                    <button>SSH</button>
                </li>
                <li>
                    <button>HTTP</button>
                </li>
                <li>
                    <button>HTTPS</button>
                </li>
            </ul>
        </div>
        <div>
            <h3>Defina seu Login</h3>
            <ul>
                <li>
                    <button>Chave Criada</button>
                </li>
                <li>
                    <button>Sua Credencial</button>
                </li>
            </ul>
            <a href="">Criar Instância</a>
        </div>
    </section>
</body>

<footer>
    <section class="rodape__completo">
      <div class="rodape">
        <div class="rodape__empresas">
          <h2 class="rodape__empresas--titulo">Nossas Empresas</h2>
          <ul class="rodape__empresas--conteudo">
            <li class="re__conteudo--item"><a href="#"> CloudCompanion</a></li>
            <li class="re__conteudo--item"><a href="#"> Cloud Network</a></li>
            <li class="re__conteudo--item">
              <a href="#"> Venha fazer parte do nosso time</a>
            </li>
          </ul>
        </div>
        <div class="rodape__contato">
          <h2 class="rodape__empresas--titulo">Contate-nos</h2>
          <ul class="rodape__empresas--conteudo">
            <li class="re__conteudo--item">
              <a href="#"> CloudCompanion@Cloud.com.br</a>
            </li>
          </ul>
        </div>
      </div>
      <h4 class="rodape__disclaimer">
        Copyright &copy;CCC, Todos os direitos reservados
      </h4>
    </section>

  </footer>

</html>
