<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC | Home</title>
    <link rel="icon" href="../images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/central_login.css" rel="stylesheet">

    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="cabecalho">
        <img src="../static/images/Logo.png" alt="logo">
        <a class="cabecalho__link" href="ajuda">Ajuda</a>
    </header>
    <main class="centraliza_conteudo">
        <section class="cc_login">
            <div class="cc_login--text">
                <img class="logo__img" src="../static/images/Cloud.png" alt="logo">
                <h1>Bem-vindo a Create Cloud Computing</h1>
                <p>Entre na sua conta ou cadastre-se para melhorar sua produtividade</p>
            </div>
            <div class="cc_login">
                <a class="cc_login--itens" href="login">Acessar Conta</a>
                <a class="cc_login--itens" href="cadastro">Criar uma nova conta</a>
            </div>
        </section>
    </main>
    <footer>
        <h4 class="rodape__login">Copyright &copy;CCC, Todos os direitos reservados</h4>
    </footer>
</body>

</html>