<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC | Console</title>
    <link rel="icon" href="../images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />


    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <img src="../static/images/Logo.png" alt="Logo">
        <a href="home">Home</a>
        <a href="ajuda">Ajuda</a>
        <a href="my_account">Minha Conta</a>
        <img src="../static/images/usuário.svg" alt="">
    </header>

    <main>
        <section>
            <h1>Criar uma nova instância</h1>
            <div>
                <img src="../static/images/Cloud.svg" alt="nuvem">
                <p>Cloud</p>
            </div>
            <div>
                <img src="../static/images/clouddownload.svg" alt="Cloud Download">s
                <p>Cloud</p>
            </div>
            <div>
                <img src="../static/images/cloudserver.svg" alt="Cloud Server">
                <p>Cloud</p>
            </div>
            <div>
                <img src="../static/images/CloudHorse.svg" alt="CloudHorse">
                <p>Cloud</p>
            </div>
            <div>
                <img src="../static/images/CloudShell.svg" alt="VM Cloud">
                <p>Cloud</p>
            </div>
            <div>
                <img src="../static/images/cloudDevOps.svg" alt="Cloud DevOps">
                <p>Cloud</p>
            </div>
        </section>

        <section>
            <h1>Minhas Instâncias</h1>
            <div>
                <img src="" alt="nuvem_dowload">
                <p>Cloud Server</p>
            </div>
            <p>Status: Ativa</p>
            <div>
                <img src="" alt="nuvem_dowload">
                <p>CloudHorse</p>
            </div>
            <p>Status: Desligada</p>
        </section>

        <section>
            <h1>Informações sobre nossas instâncias</h1>
            <p>Nossa empresa oferece serviço SaaS na nuvem. Com instâncias em cloud services confiáveis, proporcionamos
                uma experiência escalável e flexível aos clientes. Aproveitamos a infraestrutura de plataformas líderes
                como AWS e Azure para garantir disponibilidade, segurança e eficiência. Desenvolvemos soluções
                inovadoras que aliviam o ônus do gerenciamento, permitindo aos usuários focar na inovação. Com
                redundância e proteção de dados robusta, entregamos um software confiável e acessível. Nossa combinação
                de tecnologias garante alta qualidade, com atualizações e manutenção sob nossa responsabilidade.
                Simplificamos o SaaS na nuvem.
            </p>
        </section>

        <section class="card">
            <div class="card__cloud">
                <picture><img src="../static/images/Cloud.svg" alt=""></picture>
                <h4>Nossa Cloud</h4>
                <p> Nossos serviços utilizando apenas cloud, mostram dinâmica e eficiência em sua utilização</p>
            </div>
            <div class="card2">
                <picture><img src="../static/images/clouddownload.svg" alt=""></picture>
                <h4>Cloud Download</h4>
                <p> Através deste serviço, pode-se realizar download de diferentes arquivos em nuvem</p>
            </div>
            <div class="card3">
                <picture><img src="../static/images/cloudserver.svg" alt=""></picture>
                <h4>Cloud Server</h4>
                <p> Através deste serviço, pode -se realizar a criação de um servidor cloud para seus produtos</p>
            </div>
            <div class="card__cloud">
                <picture><img src="../static/images/CloudHorse.svg" alt=""></picture>
                <h4>CloudHorse</h4>
                <p> Nosso produto mais inovador. CloudHorse é um serviço em nuvem, que pode usar Git, deploy e server ao
                    mesmo tempo, de forma única e concisa</p>
            </div>
            <div class="card2">
                <picture><img src="../static/images/CloudShell.svg" alt=""></picture>
                <h4>VM Cloud</h4>
                <p> Nossa máquina virtual em nuvem, pode te auxiliar em Bancos de Dados criados, além da melhor
                    organização no seu principal servidor</p>
            </div>
            <div class="card3">
                <picture><img src="../static/images/cloudDevOps.svg" alt=""></picture>
                <h4>Cloud DevOps</h4>
                <p> Utilizando a infraestrutura em Nuvem, pode-se criar diferentes serviços, em uma única instância</p>
            </div>
        </section>

        <section>
            <h1>Questões feitas no Fórum</h1>
            <div>
                <div>
                    <div>
                        <img src="" alt="">
                        <p>Carlos dos Santos</p>
                        <p>Especialista em DevOps</p>
                    </div>
                    <h2>Preciso entender sobre um componente</h2>
                    <p>Estive pesquisando sobre um importante componente, como posso resolver o problema abaixo?</p>
                </div>
                <div>
                    <div>
                        <img src="" alt="">
                        <p>Alexandre Nougueira</p>
                        <p>CloudHorse Trainee</p>
                    </div>
                    <h2>Quais as novas funções implementadas?</h2>
                    <p>Amo o CloudHorse, mas preciso aprender mais conteúdos... Onde posso encontrar mais conteúdo?</p>
                </div>
                <div>
                    <div>
                        <img src="" alt="">
                        <p>Carla Cristina</p>
                        <p>Empresária Financeira</p>
                    </div>
                    <h2>Onde posso encontrar minhas VM's?</h2>
                    <p>Onde ficam todas as máquinas virtuais que criei? Estou um pouco perdida... agradeço a ajuda!</p>
                </div>
            </div>
        </section>


        <section>
            <h1>Suas questões no fórum</h1>
            <div>
                <div>
                    <img src="" alt="">
                    <p>Célia Navegante</p>
                    <p>Gerente RH da CCC</p>
                </div>
                <h2>Bem-vindos a Plataforma!</h2>
                <p>Qualquer dúvida, não hesite o contato conosco através da página de ajuda!</p>
            </div>
        </section>

    </main>
    <footer>
        <section class="rodape">
            <div class="rodape__empresas">
                <h2 class="rodape__empresas--titulo">Nossas Empresas</h2>
                <ul class="rodape__empresas--conteudo">
                    <li class="re__conteudo--item"> <a href="#"> CloudCompanion</a>
                    </li>
                    <li class="re__conteudo--item"> <a href="#"> Cloud Network</a></li>
                    <li class="re__conteudo--item"> <a href="#"> Venha fazer parte do nosso time</a></li>
                </ul>
            </div>
            <div class="rodape__contato">
                <h2 class="rodape__empresas--titulo">Contate-nos</h2>
                <ul class="rodape__empresas--conteudo">
                    <li class="re__conteudo--item"> <a href="#"> CloudCompanion@Cloud.com.br</a>
                    </li>
                </ul>
            </div>
        </section>
        <h4 class="rodape__disclaimer">Copyright &copy;CCC, Todos os direitos reservados</h4>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>

</html>