<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC | Serviços</title>
    <link rel="icon" href="../images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <section class="header__secao">
          <picture><img src="../static/images/Logo.png" alt="logo.CCC" /></picture>
          <ul class="secao__lista">
            <li><a href="/">Home</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="servico">Serviços</a></li>
            <li><a href="central_login">Login</a></li>
          </ul>
        </section>
    </header>
    <main>
       <section class="descricao_superior">
            <h1>Nossos Serviços</h1>
            <p>
                Durante 1 ano, nossos serviços podem atender suas necessidades, de forma gratuita e que garante sua segurança,
                de cada serviço requisitado, e tudo isso de forma gratuita durante sua estadia conosco.
            </p>
       </section> 
       <section>
            <ul>
                <li>
                    <div>
                        <div>
                            <img src="../static/images/Cloud.svg" alt="nuvem">
                            <h1>Nossa Cloud</h1>
                            <p>Nossos serviços utilizando apenas cloud, mostram dinâmica e eficiência em sua utilização</p>
                        </div>
                        <div>
                            <h1>750</h1>
                            <h2>Horas no mês</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>0,05BRL/hr</h1>
                            <h2>Após período gratuito</h2>
                        </div>
                        <p>*custo aplicado quando passado o tempo determinado</p>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <img src="../static/images/clouddownload.svg" alt="">
                            <h1>Cloud Download</h1>
                            <p>Através deste serviço, pode-se realizar download de diferentes arquivos em nuvem</p>
                        </div>
                        <div>
                            <h1>1000</h1>
                            <h2>Horas no mês</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>0,07BRL/hr</h1>
                            <h2>Após período gratuito</h2>
                        </div>
                        <p>*custo aplicado quando passado o tempo determinado</p>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <img src="../static/images/cloudserver.svg" alt="nuvem_upload">
                            <h1>Cloud Server</h1>
                            <p>Através deste serviço, pode -se realizar a criação de um servidor cloud para seus produtos</p>
                        </div>
                        <div>
                            <h1>500</h1>
                            <h2>Horas no mês</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>0,04BRL/hr</h1>
                            <h2>Após período gratuito</h2>
                        </div>
                        <p>*custo aplicado quando passado o tempo determinado</p>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <img src="../static/images/CloudHorse.svg" alt="cavalo">
                            <h1>CloudHorse</h1>
                            <p>Nosso produto mais inovador. CloudHorse é um serviço em nuvem, que pode usar Git,
                            deploy e server ao mesmo tempo, de forma única e concisa
                            </p>
                        </div>
                        <div>
                            <h1>400</h1>
                            <h2>Horas no mês</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>0,10BRL/hr</h1>
                            <h2>Após período gratuito</h2>
                        </div>
                        <p>*custo aplicado quando passado o tempo determinado</p>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <img src="../static/images/CloudShell.svg" alt="shell_icon">
                            <h1>*custo aplicado quando passado o tempo determinado</h1>
                            <p>Nossa máquina virtual em nuvem, pode te auxiliar em Bancos de Dados criados, 
                            além da melhor organização no seu principal servidor</p>
                        </div>
                        <div>
                            <h1>800</h1>
                            <h2>Horas no mês</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>0,06BRL/hr</h1>
                            <h2>Após período gratuito</h2>
                        </div>
                        <p>*custo aplicado quando passado o tempo determinado</p>
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            <img src="../static/images/cloudDevOps.svg" alt="">
                            <h1>Cloud DevOps</h1>
                            <p>Utilizando a infraestrutura em Nuvem, pode-se criar diferentes serviços, em uma única instância</p>
                        </div>
                        <div>
                            <h1>200</h1>
                            <h2>Horas no mês</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>0,09BRL/hr</h1>
                            <h2>Após período gratuito</h2>
                        </div>
                        <p>*custo aplicado quando passado o tempo determinado</p>
                    </div>
                </li>
            </ul>
       </section>
    </main>
    <footer>
        <section class="rodape">
          <div class="rodape__empresas">
            <h2 class="rodape__empresas--titulo">Nossas Empresas</h2>
            <ul class="rodape__empresas--conteudo">
              <li class="re__conteudo--item"><a href="#"> CloudCompanion</a></li>
              <li class="re__conteudo--item"><a href="#"> Cloud Network</a></li>
              <li class="re__conteudo--item">
                <a href="#"> Venha fazer parte do nosso time</a>
              </li>
            </ul>
          </div>
          <div class="rodape__contato">
            <h2 class="rodape__empresas--titulo">Contate-nos</h2>
            <ul class="rodape__empresas--conteudo">
              <li class="re__conteudo--item">
                <a href="#"> CloudCompanion@Cloud.com.br</a>
              </li>
            </ul>
          </div>
        </section>
        <h4 class="rodape__disclaimer">
          Copyright &copy;CCC, Todos os direitos reservados
        </h4>
      </footer>
</body>

</html>