<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCC | Sobre Nós</title>
    <link rel="icon" href="../images/Logo.png">
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <!-- fontes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Red+Hat+Display:wght@500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <section class="header__secao">
          <picture><img src="../static/images/Logo.png" alt="logo.CCC" /></picture>
          <ul class="secao__lista">
            <li><a href="/">Home</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="servico">Serviços</a></li>
            <li><a href="central_login">Login</a></li>
          </ul>
        </section>
    </header>
    <main>
        <section class="banner">
            <!-- <img src="../static/images/reuniao_transparente.png" alt="background_transparente"> -->
            <h1>Nossa Hostória</h1>
        </section>
        <section class="apresentacao">
            <div class="apresentacao__texto">
                <p> Nós somos uma empresa líder no mercado de armazenamento em nuvem, com uma história de sucesso que remonta
                a 1980. Desde o início, nossa missão tem sido proporcionar soluções de armazenamento de dados confiáveis,
                seguras e acessíveis para indivíduos e organizações em todo o mundo.</p>
                <p> Ao longo dos anos, temos trabalhado incansavelmente para evoluir e inovar constantemente, antecipando as
                necessidades dos nossos clientes e adaptando-nos às rápidas mudanças tecnológicas. Nossa equipe é formada
                por profissionais talentosos e experientes, que estão sempre prontos para enfrentar novos desafios e 
                desenvolver soluções personalizadas para atender às demandas específicas de cada cliente.</p>
                <p> Nossa infraestrutura global é uma das mais avançadas do setor, com servidores estrategicamente
                localizados em diversas regiões, garantindo a disponibilidade e a velocidade necessárias para uma experiência
                de armazenamento em nuvem eficiente e confiável. Além disso, investimos continuamente em tecnologia de ponta,
                aprimorando nossa capacidade de lidar com grandes volumes de dados e garantindo a escalabilidade necessária
                para acompanhar o crescimento dos nossos clientes.</p>
                <p> A segurança dos dados é uma prioridade fundamental para nós. Reconhecemos a importância de proteger as
                informações confidenciais e valiosas dos nossos clientes contra ameaças cibernéticas. Por isso, implementamos
                os mais rigorosos protocolos de segurança, incluindo criptografia avançada, autenticação de múltiplos fatores
                e medidas de segurança física, para garantir a integridade e a confidencialidade dos dados armazenados em
                nossa plataforma.</p>
            </div>
            <div class="apresentacao__cards">
                <ul>
                    <li class="apresentacao__cards__itens">
                        <img src="../static/images/Cloud.svg" alt="nuvem">
                        <h2>Inovar</h2>
                    </li>
                    <li class="apresentacao__cards__itens">
                        <img src="../static/images/clouddownload.svg" alt="nuvem_dowload">
                        <h2>Desenvolver</h2></li>
                    <li class="apresentacao__cards__itens">
                        <img src="../static/images/" alt="nuvem_upload">
                        <h2>Criar</h2></li>
                </ul>
            </div>
        </section>
        <div>
            <h1>Seu futuro, é com a gente. Venha para a Cloud!</h1>
            <img src="../static/images/Cloud.svg" alt="nuvem">
        </div>
    </main>
    <footer>
        <section class="rodape">
          <div class="rodape__empresas">
            <h2 class="rodape__empresas--titulo">Nossas Empresas</h2>
            <ul class="rodape__empresas--conteudo">
              <li class="re__conteudo--item"><a href="#"> CloudCompanion</a></li>
              <li class="re__conteudo--item"><a href="#"> Cloud Network</a></li>
              <li class="re__conteudo--item">
                <a href="#"> Venha fazer parte do nosso time</a>
              </li>
            </ul>
          </div>
          <div class="rodape__contato">
            <h2 class="rodape__empresas--titulo">Contate-nos</h2>
            <ul class="rodape__empresas--conteudo">
              <li class="re__conteudo--item">
                <a href="#"> CloudCompanion@Cloud.com.br</a>
              </li>
            </ul>
          </div>
        </section>
        <h4 class="rodape__disclaimer">
          Copyright &copy;CCC, Todos os direitos reservados
        </h4>
      </footer>
</body>


</html>
