@import url('../static/style.css');

.centraliza_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cc_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_cinza-principal);
    width: 37.81vw;
    height: 32vh;
    border-radius: 12px;
    gap: 24px;
}

.cc_login--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
}

.cc_login--text>h1 {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 1.5rem;
}

.cc_login--text>p {
    font-family: var(--fonte-texto-regular);
    font-size: 1rem;
    width: 24.6vw;
    height: 4.57vh;
    text-align: center;
}

.cc_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.cc_login--itens {
    text-decoration: none;
    background-color: white;
    color: var(--cor_cinza-principal);
    border-radius: 8px;
    width: 14.06vw;
    height: 3.65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 1rem;
}

.rodape__login {
    background-color: var(--cor_cinza-principal);
    height: 6.62vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor_conteudo);
    position: absolute;
    bottom: 0;
    font-family: var(--fonte-principal);
}