@import url('../styles/style.css');

.header__secao {
    display: flex;
    flex-direction: row;
    background-color: var(--cinza-escuro);
    padding: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.secao__lista {
    display: flex;
    flex-direction: row;
    padding-right: 0.5rem;
}

.secao__lista>li {
    padding-right: 1rem;
    font-size: 1.3rem;
    list-style: none;
}

.secao__lista>li>a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
}

.secao2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.secao2__texto {
    width: 40vw;
}

.secao2__texto>h1 {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.secao2__texto>p {
    font-family: var(--fonte-texto-regular);
    font-size: 1.5rem;
    width: 35vw;
}

.secao2>picture>img {
    width: 40vw;
}

.tituloswiper {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    padding: 3rem 8rem 3rem 8rem;
    width: 25vw;
}

.tituloswiper__conteudo {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 1.5rem;
    text-align: left;
}

.swiper {
    width: 80vw;
    margin: 4rem 0 4rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card__descricao {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 30vh;
    padding: 1.5rem;
    background-color: var(--preto-claro);
    color: var(--branco);
    font-family: var(--fonte-texto-regular);
    text-align: left;
}

.card__descricao>picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 920px) {
    .swiper {
        width: 60vw;
    }

    .card__descricao {
        width: 20vw;
        margin: 1rem;
    }
}

.informacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informacoes__perfis {
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 231, 231);
}