@import url('../styles/style.css');

@keyframes slider {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 130%;
    }
}

.header__secao {
    display: flex;
    flex-direction: row;
    background-color: var(--cinza-escuro);
    padding: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.secao__lista {
    display: flex;
    flex-direction: row;
    padding-right: 0.5rem;
}

.secao__lista>li {
    padding-right: 1rem;
    font-size: 1.3rem;
    list-style: none;
}

.secao__lista>li>a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
}

.secao2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.secao2__texto {
    width: 40vw;
}

.secao2__texto>h1 {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.secao2__texto>p {
    font-family: var(--fonte-texto-regular);
    font-size: 1.5rem;
    width: 35vw;
}

.secao2>picture>img {
    width: 40vw;
}

.tituloswiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 8rem 3rem 8rem;
    width: 25vw;
}

.tituloswiper__conteudo {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 2rem;
    text-align: left;
}

.swiper {
    width: 80vw;
    margin: 4rem 0 4rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card__descricao {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 30vh;
    padding: 1.5rem;
    background-color: var(--preto-claro);
    color: var(--branco);
    font-family: var(--fonte-texto-regular);
    text-align: left;
}

.card__descricao>picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card__descricao>h4 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.card__descricao>p {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.informacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.informacoes__perfis {
    display: flex;
    flex-direction: column;
    background-color: rgb(139, 231, 231);
    height: 46vh;
}

.informacoes__sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_cinza-principal);
    height: 40vh;
    padding: 2rem;
}

.informacoes__sobre--texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-texto-regular);
    font-size: 1.2rem;
    color: var(--branco);
    padding: 1rem;
}

.informacoes__sobre--texto>h1 {
    font-size: 2rem;
    text-align: left;
    padding-bottom: 1rem;
}

.informacoes__sobre--texto>ul {
    text-decoration: none;
    list-style: none;
}

.informacoes__sobre--texto>ul>li {
    padding-bottom: 1rem;
}

.Empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: var(--fonte-principal);
}

.Empresas>h1 {
    color: var(--cor_cinza-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 2rem;
}

.EmpresasParceiras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.EmpresasParceiras__Conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 4rem;
    animation: slider 25s infinite linear;
}

.EmpresasParceiras__Conteudo>img {
    height: 8vh;
}













@media (max-width: 920px) {
    .swiper {
        width: 60vw;
    }

    .card__descricao {
        width: 20vw;
        margin: 1rem;
    }
}