@import url('../static/style.css');

html {
    background-color: var(--branco);
    scroll-behavior: smooth;
}

.header__secao {
    display: flex;
    flex-direction: row;
    background-color: var(--cor_cinza-principal);
    padding: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.secao__lista {
    display: flex;
    flex-direction: row;
    padding-right: 0.5rem;
}

.secao__lista>li {
    padding-right: 1rem;
    font-size: 1.3rem;
    list-style: none;
}

.secao__lista>li>a {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    transition: 1s;
}

.secao__lista>li>a:hover {
    color: var(--cinza-escuro);
    transition: 1s;
}

/* BANNER PRINCIPAL */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../static/images/reunião-opaco.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.banner>h1 {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 7rem;
    color: var(--cor_cinza-principal);
    opacity: 100%;
}

/* TEXTO PRINCIPAL */

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao__texto {
    font-family: var(--fonte-texto-regular);
    font-size: 1.2rem;
    color: var(--cor_preto);
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.apresentacao__texto>p {
    padding: 2rem;
}

/* CARDS - SOBRE */

.apresentacao__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.apresentacao__cards>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.apresentacao__cards__itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_cinza-principal);
    height: 20vh;
    width: 25vw;
}

.apresentacao__cards__itens {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-principal-bold);
    font-size: 1.2rem;
    color: var(--branco);
    transition: 1s;
}

.apresentacao__cards__itens>img {
    width: 5vw;
    height: 5vh;
    padding-bottom: 1rem;
}

.apresentacao__cards__itens:hover {
    background-color: var(--cor_preto);
    transition: 1s;
}

/* INFORMATIVO */

.infomativocloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-family: var(--fonte-texto-regular);
    font-size: 1.2rem;    
}

.infomativocloud>img {
    width: 5vw;
    height: 8vh;
    padding-bottom: 1.3rem;
}