@import url('../styles/home.css');

:root{
    /* fontes usadas */
    --fonte-principal: 'Red Hat Display', sans-serif;
    --fonte-texto-regular: 'Quicksand', sans-serif;
    /* peso das fontes */
    --fonte-principal-bold: 700;
    --fonte-principal-regular: 500;

    /* cores utilizadas */
    --cinza-escuro: #666D74;
    --preto-claro: #232F3E;
    --branco: #F2F2F2;
}