@import url('../static/home.css');
@import url('../static/sobre.css');
@import url('../static/servico.css');
@import url('../static/logged_home.css');
@import url('../static/minha_conta.css');

html {
    scroll-behavior: smooth;
}

:root {
    /* fontes usadas */
    --fonte-principal: 'Red Hat Display', sans-serif;
    --fonte-texto-regular: 'Quicksand', sans-serif;
    /* peso das fontes */
    --fonte-principal-bold: 700;
    --fonte-principal-regular: 500;

    /* cores utilizadas */
    --cinza-escuro: #666D74;
    --preto-claro: #232F3E;
    --branco: #F2F2F2;

    --cor_cinza-principal: #182531;
    --cor_preto: #2B2B2B;
    --cor_cinza-esboco: #DBDBDB;
    --cor_conteudo: #AEAEAE;
}